.person-details img{
    max-width: 200px;
    max-height: 200px;
}
.person-details{
    margin-top: 20px;
    background-color: #001D24;
    border-radius: 10px;
    width: 40%;
    
}
.empty {
    margin-top: 20px;
    background-color: #001D24;
    border-radius: 10px;
    width: 40%;
    text-align: center;
}